/* general */
* {
	font-family: "Roboto Condensed", sans-serif;
	font-size: 1em;
}

h1 {
	font-family: "Roboto Condensed", sans-serif;
	font-size: 3em;
	text-transform: uppercase;
}

#story {
	float: right;
	width: 66%;
	margin-right: 1em;
	/* position: relative; */
}

/* app */
.dots {
	/* fill: #000; */
	pointer-events: all;
	opacity: 1;
}

.dots:hover {
	/* fill: #d82739; */
	opacity: 0.25;
	width: 200%;
}

.app {
	/* margin: auto; */
	margin-top: 3em;
	margin-bottom: 5em;
	/* margin-top: 2em; */
	/* padding: 1em; */
}

.app text {
	font-size: 1em;
}

.app .label {
	font-weight: 900;
}

.x-axis path {
	stroke: #fff;
	stroke-width: 0.5;
	shape-rendering: crispEdges;
}

.x-axis {
	font-size: 1em;
}

.y-axis line {
	/* stroke: #eee;
	stroke-width: 0.5;
	shape-rendering: crispEdges; */
	/* stroke: #eee; */
	stroke: #c6c6c6;
	/* font-weight: normal; */
	/* text-color: #000; */
}

.tooltip {
	/* background: white; */
	background: rgba(255, 255, 255, 0.95);
	font-size: 0.65em;
	/* line-height: 1; */
	padding: 0px;
	/* margin-bottom: 0em;
	margin-top: 0em; */
	border: 0px solid #fff;
	padding: 10px;
	/* position: relative; positioning for top left! */
	position: absolute;
	max-width: 400px;
	/* visibility: hidden; */
}

.tooltip > h2 {
	font-size: 1em;
}

.hidden {
	opacity: 0;
}

/* details */

/* #details row {
	background: red;

} */

#details,
#initial {
	float: left;
	width: 33%;
	height: 100%;
	position: fixed;
	/* vertical-align: center; */
	bottom: 0;
	left: 0;
	background: white;
	margin-top: 2rem;
	box-shadow: 0.5rem 0rem 2rem #eee;
}

table {
	margin-bottom: 0;
	/* overflow-x: auto; */
	table-layout: 1 2;
	/* table-layout: fixed; */
	vertical-align: top;
}
td,
th {
	padding: 6px 9px;
	font-weight: normal;
}
td {
	text-align: left;
	color: #000;
}

tr:hover {
	background-color: #f5f5f5;
}

table {
	text-align: left;
}

.definition {
	font-size: 0.75em;
	color: #aaa;
	text-align: left;
	border-bottom: 1px solid #eee;
	padding-top: 0em;
	padding-bottom: 0.1em;
}

#close-details {
	color: black;
	text-decoration: none;
	/* font-size: 4rem; */
	/* text-align: right; */
	/* line-height: 4.5rem; */
}
#close-details:hover {
	color: 000;
}

/* form */
input,
label {
	display: block;
	margin: 10px 0 0 0;
}
